# Node.js dependencies
frontend/node_modules/

# Build output
frontend/dist/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Cache files
frontend/.cache/
frontend/*.tmp

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?